.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 90px;
}

.responseContainer {
    display: flex;
    align-items: center;

    margin-left: 96px;

}

.imageContainer {
    margin-right: 94px;
    max-width: 420px;
}

.image {
    width: 100%;
}

.textContainer{
}

.code {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 12px;

}
.text,
.info {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;

}