.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;

}

.loading {
    position: absolute;
    top: 0;
    left: 50%;
     z-index: 1000;
}

