.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}
.buttonsContainer button,
.buttonsContainer button:hover{
    width: 84px;
}

.clock {
}

.watch {
}

.watch strong {
}

.more {
}