.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0080FF;
}

.span {
}

.input {
    max-width: 276px;
    width: 100%;
    padding: 8px 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.input:focus {
    outline-color: #D1D1D1;
}
.pen {
}